
*{ margin: 0; padding: 0;}

html, body{
    /* FONTS? Karla 
     * 
     * background: #BDB;*/
    height: 100%;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    /*font-size: 110%;*/
    font-family: 'Pontano Sans', sans-serif, "Helvetica", "Lucida Sans", "Lucida Sans Unicode";
}

p{
    margin: 2% 0;
}

a, a:visited{
	color: rgb(15, 102, 252);
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

/*body > header{ heigth: 15% }*/
#panel{
    height: 10%;
}
#panel *{ position: absolute; text-align: center;  }
#panel h1{
    /*top: 1%;*/
    width: 50%;
    left: 25%;
    z-index: 500;
    font-size: 350%;
    /*border-radius: 0 0 10px 10px;*/
    text-shadow: rgba(0,0,0,0.2) 0px 30px 10px;
}
#panel .back,#panel .next{
    background: #9AA;
    top: 1%;
    width: 5%;
    cursor: pointer;
    z-index: 500;
    border-radius: 10%;
    font-size: 200%;
    font-weight: bold;
    box-shadow: black 5px 5px 5px;
    /*  experimenting  */
   zoom: 1.3;
    
    -webkit-transition: all 0.5s ease-in-out;
    -webkit-backface-visibility: visible;
    -webkit-transform-origin-x: 0; /*also check upon element style*/
    -webkit-transform-origin-y: 50%;
}
#panel .back{ left: 18% }
#panel .next{ left: 77% }

.screen{
    z-index: 50;
    background: rgba(100,100,100, 0.20);
    border: 1px rgba(100,100,100, 0.80);
    position: absolute;
    top: 25%;
    left: 20%;
    right: 20%;
    bottom: 10%;
    font-size: 90%;
    opacity: 1;
    border-radius: 10px;
    padding: 2%;
    line-height: 150%;
    font-size: 140%;
    text-shadow: 2px 1px 5px #3C5A65;
    
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -webkit-transform: perspective(0) rotateY(0deg) translateZ(0px);
    -webkit-backface-visibility: visible;
    -webkit-transform-origin-x: 50%;
    -webkit-transform-origin-y: 50%;
}
.screen h1{
    display: none;
}

.img_desc{
    float: right;
    border-radius: 10px;
    width: 30%;
    opacity: 0.9;
    margin-left: 2%;
    /*background: url("images/gallery/pop1.png") bottom right no-repeat;*/
    /*
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;*/
}

/* looking good! */
.screen.right{
    -webkit-transform: perspective(1500px) rotateY(-82deg) translate3d(61px,0px,-630px);
    z-index: 10;
    opacity: 0.2;
    /*left: 81% !important;
    right: 0% !important;*/
}

.screen.left/* looks bad! */{
    -webkit-transform: perspective(1500px) rotateY(82deg) translate3d(-61px,0em,-630px);
    z-index: 10;
    opacity: 0.2;
/*    width: 50%;*/
    /*left:  20% !important;
    right: 20% !important;*/
}

.hidden{
    /*display: none;*/
   opacity: 0 !important;
   z-index: 2 !important;
}

.spot{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index:1;
    -webkit-transition: 1.5s linear;/*ease; */
    -moz-transition:    1.5s linear;
    -o-transition:    1.5s linear;
    -ms-transition:    1.5s linear; /*rgba(57,71,153, 0.3)*/
/*   background: url("images/gallery/tw_logo.png");
   background-repeat: no-repeat;*/
  

/*#oldSpot{   TOO SLOW TO RENDER */
    
background: -webkit-radial-gradient(center, ellipse cover, rgba(134,146,222,0.3) 1%,rgba(255, 255, 255, 0) 70%,rgba(255, 255, 255, 0) 100%); /* Chrome10+,Safari5.1+ */
background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 40%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(40%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 40%,rgba(255,255,255,0) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 40%,rgba(255,255,255,0) 100%); /* IE10+ */
background: radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 40%,rgba(255,255,255,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}   


body{
background: rgb(229,229,229); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(229,229,229,1) 50%, rgba(237,204,163,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,rgba(229,229,229,1)), color-stop(100%,rgba(237,204,163,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(229,229,229,1) 50%,rgba(237,204,163,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(229,229,229,1) 50%,rgba(237,204,163,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(229,229,229,1) 50%,rgba(237,204,163,1) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(229,229,229,1) 50%,rgba(237,204,163,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#edcca3',GradientType=0 ); /* IE6-9 */
}    

.darkSheet{   
background: rgb(0,0,0); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(70,87,94,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(70,87,94,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(70,87,94,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(70,87,94,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(70,87,94,1) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(70,87,94,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#46575e',GradientType=0 ); /* IE6-9 */
}

.oldGreen{
background: rgb(13,112,2); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(13,112,2,1) 0%, rgba(0,214,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(13,112,2,1)), color-stop(100%,rgba(0,214,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg, rgba(13,112,2,1) 0%,rgba(0,214,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, rgba(13,112,2,1) 0%,rgba(0,214,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, rgba(13,112,2,1) 0%,rgba(0,214,0,1) 100%); /* IE10+ */
background: linear-gradient(-45deg, rgba(13,112,2,1) 0%,rgba(0,214,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d7002', endColorstr='#00d600',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

@-webkit-keyframe sintH1 {
    from {
        -webkit-transform: skew(0deg,0deg);
        -moz-transform: skew(0deg,0deg);
    }
    50%{
        -webkit-transform: skew(90deg,0deg);
        -moz-transform: skew(90deg,0deg);
    }
    100%{
        -webkit-transform: skew(180deg,0deg);
        -moz-transform: skew(180deg,0deg);
    }
}

.h1distort{
    -webkit-animation-name: sintH1;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: 2;
}

#econtact{
    font-style: italic;
}

#portrait{
    float: none;
    width: 20%;
    opacity: 0.5;
}


.tag {
    display: inline-block;
    position: relative;
    padding: 0.2% 1.5%;
    
/*    font: 15px/1.4 "myriad-pro-1","myriad-pro-2","Lucida Grande",Sans-Serif;*/
    font-variant: small-caps;
    font-style: italic;
    font-size: 80%;
    color: black;
    font-weight: 600;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

.glass{
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(182, 211, 244, 0.2);
/*
 TOO SLOW FOR MOST BROWSERS
     background: -webkit-gradient(linear, left top, left bottom, from(#B6D3F4), to(#5483B8));
    background: -webkit-linear-gradient(top, rgba(182, 211, 244, 0.32), rgba(84, 131, 184, 0.01));
    background: -moz-linear-gradient(top, rgba(182, 211, 244, 0.32), rgba(84, 131, 184, 0.01));
    background: -ms-linear-gradient(top, rgba(182, 211, 244, 0.32), rgba(84, 131, 184, 0.01));
    background: -o-linear-gradient(top, rgba(182, 211, 244, 0.32), rgba(84, 131, 184, 0.01));
*/
    -webkit-box-shadow: inset 0 0 10px #fff,0 1px 3px rgba(0,0,0,0.6);
    -moz-box-shadow:    inset 0 0 10px #fff,0 1px 3px rgba(0,0,0,0.6);
    box-shadow:         inset 0 0 10px #fff,0 1px 3px rgba(0,0,0,0.6);
    border: 1px solid #9AC9FF !important;
}

/* nah...
#img_overlay{
	position: absolute;
	left: 562px;
	top: 27px;
	width: 229px;
	height: 168px;
	background: rgba(0, 0, 0, 0.8);
	border-radius: 10px;
	color: white;
}*/





